<a href="https://colab.research.google.com/github/mohrosidi/Technaut-DS-Tips-and-Tricks/blob/main/Week1_DTale.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Install D-Tale

In [ ]:
!pip install dtale

# Load Library

In [2]:
import pandas as pd
import dtale
import dtale.app as dtale_app

# Import The Data

In [4]:
data = pd.read_csv("https://raw.githubusercontent.com/dataprofessor/data/master/penguins_size.csv")
data

    species     island  ...  body_mass_g     sex
0    Adelie  Torgersen  ...       3750.0    MALE
1    Adelie  Torgersen  ...       3800.0  FEMALE
2    Adelie  Torgersen  ...       3250.0  FEMALE
3    Adelie  Torgersen  ...          NaN     NaN
4    Adelie  Torgersen  ...       3450.0  FEMALE
..      ...        ...  ...          ...     ...
339  Gentoo     Biscoe  ...          NaN     NaN
340  Gentoo     Biscoe  ...       4850.0  FEMALE
341  Gentoo     Biscoe  ...       5750.0    MALE
342  Gentoo     Biscoe  ...       5200.0  FEMALE
343  Gentoo     Biscoe  ...       5400.0    MALE

[344 rows x 7 columns]

# Using Dtale

In [6]:
dtale_app.USE_NGROK = True
dtale.show(data)

2021-04-30 13:06:07,976 - INFO     - NumExpr defaulting to 2 threads.

http://8abf37f0db70.ngrok.io/dtale/main/1